<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>DevFolio - Developer Portfolio Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="Free Website Template" name="keywords" />
    <meta content="Free Website Template" name="description" />

    <!-- Favicon -->
    <link href="https://api.jotcv.com/static/webportfolio/DevFolio/img/favicon.ico" rel="icon" />

    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <!-- CSS Libraries -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
      rel="stylesheet"
    />
    <link href="https://api.jotcv.com/static/webportfolio/DevFolio/libs/animate/animate.min.css" rel="stylesheet" />
    <link href="https://api.jotcv.com/static/webportfolio/DevFolio/libs/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />
    <link href="https://api.jotcv.com/static/webportfolio/DevFolio/libs/lightbox/css/lightbox.min.css" rel="stylesheet" />

    <!-- Template Stylesheet -->
    <link href="https://api.jotcv.com/static/webportfolio/DevFolio/css/style.css" rel="stylesheet" />
  </head>

  <body data-spy="scroll" data-target=".navbar" data-offset="51" id="dynamic">
    <script>
      let profileId = {{ profile_id }};
      
      </script>
    <!-- Nav Bar Start -->
    <!-- Back to top button -->
    <a href="#" class="btn back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- Pre Loader -->
    <div id="loader" class="show">
      <div class="loader"></div>
    </div>
    <script src="https://api.jotcv.com/static/webportfolio/DevFolio/script.js"></script>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://api.jotcv.com/static/webportfolio/DevFolio/libs/easing/easing.min.js"></script>
    <script src="https://api.jotcv.com/static/webportfolio/DevFolio/libs/wow/wow.min.js"></script>
    <script src="https://api.jotcv.com/static/webportfolio/DevFolio/libs/waypoints/waypoints.min.js"></script>
    <script src="https://api.jotcv.com/static/webportfolio/DevFolio/libs/typed/typed.min.js"></script>
    <script src="https://api.jotcv.com/static/webportfolio/DevFolio/libs/owlcarousel/owl.carousel.min.js"></script>
    <script src="https://api.jotcv.com/static/webportfolio/DevFolio/libs/isotope/isotope.pkgd.min.js"></script>
    <script src="https://api.jotcv.com/static/webportfolio/DevFolio/libs/lightbox/js/lightbox.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="https://api.jotcv.com/static/webportfolio/DevFolio/mail/jqBootstrapValidation.min.js"></script>
    <script src="https://api.jotcv.com/static/webportfolio/DevFolio/mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="https://api.jotcv.com/static/webportfolio/DevFolio/js/main.js"></script>
  </body>
</html>
