<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="styles.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/761e4c8e5c.js"
      crossorigin="anonymous"
    ></script>
    <title>Portfolio</title>
    <meta charset="UTF-8" />
  </head>
  <body>
    <section class="hero">
      <nav>
        <h3>Hello world</h3>
        <ul id="nav-list">
          <li><a href="#about-me">About me</a></li>
          <li><a href="#Experience">Experience</a></li>
          <li><a href="#Education">Education</a></li>
          <li><a href="#contact-me">Contact</a></li>
        </ul>
        <button class="hamburger" id="hamburger">
          <i class="fas fa-bars"></i>
        </button>
      </nav>
      <div class="hero-area">
        <div class="hero-text">
          <h1>Nikhil Nair</h1>
          <p>Full Stack Developer</p>
          <div class="button"><a href="#about-me">About me</a></div>
        </div>
      </div>
    </section>
    <section class="sub-section" id="about-me">
      <div class="information">
        <h2>About Me</h2>
        <p>Hello. My name is Nikhil Nair. I am a Software Developer</p>
      </div>
      <div class="headshot-container">
        <img class="headshot" src="images/hero.jpeg" alt="headshot" />
      </div>
    </section>
    <section class="sub-section-alternative" id="Experience">
      <h2>Experience</h2>
      <div class="exp-container">
        <div class="exp-card">
          <h3>Frontend Developer</h3>
          <h4>june-xxx august-xxxx</h4>
          <p class="subtext">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam,
            corrupti qui. Perspiciatis maxime quis accusantium, hic odio
            dignissimos corrupti mollitia a nostrum excepturi, quae est
            doloremque vitae consectetur exercitationem aperiam?
          </p>
        </div>
        <div class="exp-card">
          <h3>Backend Developer</h3>
          <h4>june-xxx august-xxxx</h4>
          <p class="subtext">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam
            sequi minima voluptatum debitis accusamus deserunt velit aperiam
            reiciendis, dolore atque maxime ipsum, repellendus, in saepe
            voluptates. Quae, mollitia! Mollitia, pariatur.
          </p>
        </div>
      </div>
    </section>
    <section class="sub-section-alternative" id="Education">
      <h2>Education</h2>
      <div class="edu-container">
        <div class="edu-card">
          <h3>BSc in CS</h3>
          <h4>june-xxx august-xxxx</h4>
          <p class="subtext">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam,
            corrupti qui. Perspiciatis maxime quis accusantium, hic odio
            dignissimos corrupti mollitia a nostrum excepturi, quae est
            doloremque vitae consectetur exercitationem aperiam?
          </p>
        </div>
        <div class="edu-card">
          <h3>Master in CS</h3>
          <h4>june-xxx august-xxxx</h4>
          <p class="subtext">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam
            sequi minima voluptatum debitis accusamus deserunt velit aperiam
            reiciendis, dolore atque maxime ipsum, repellendus, in saepe
            voluptates. Quae, mollitia! Mollitia, pariatur.
          </p>
        </div>
      </div>
    </section>
    <footer id="contact-me">
      <h2>Contact me</h2>
      <span>YourName@gmail.com</span>
      <span>+12221-2221-212</span>
      <span>India</span>
    </footer>
    <script src="app.js"></script>
  </body>
</html>
