<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reminder</title>
</head>
<body>
    <tbody>
        <tr>
            <td valign="top" class="m_-8125111030393075803r1-i" style="background-color:#ffffff">
                <table cellspacing="0" cellpadding="0" border="0" role="presentation" width="100%" align="center"
                    class="m_-8125111030393075803r3-o" style="table-layout:fixed;width:100%">
                    <tbody>
                        <tr>
                            <td class="m_-8125111030393075803r4-i" style="padding-bottom:20px;padding-top:20px">
                                <table width="100%" cellspacing="0" cellpadding="0" border="0" role="presentation">
                                    <tbody>
                                        <tr>
                                            <th width="100%" valign="top" class="m_-8125111030393075803r5-c"
                                                style="font-weight:normal">
                                                <table cellspacing="0" cellpadding="0" border="0" role="presentation"
                                                    width="100%" class="m_-8125111030393075803r6-o"
                                                    style="table-layout:fixed;width:100%">
                                                    <tbody>
                                                        <tr>
                                                            <td valign="top" class="m_-8125111030393075803r7-i"
                                                                style="padding-left:10px;padding-right:10px">
                                                                <table width="100%" cellspacing="0" cellpadding="0"
                                                                    border="0" role="presentation">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td class="m_-8125111030393075803r2-c"
                                                                                align="center">
                                                                                <table cellspacing="0" cellpadding="0"
                                                                                    border="0" role="presentation"
                                                                                    width="200"
                                                                                    class="m_-8125111030393075803r3-o"
                                                                                    style="table-layout:fixed;width:200px">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td
                                                                                                style="font-size:0px;line-height:0px">
                                                                                                <img src="https://api.jotcv.com/static/images/jotcv.png" alt="">
                                                                                                    width="200" border="0"
                                                                                                    style="display:block;width:100%"
                                                                                                    class="CToWUd"
                                                                                                    data-bit="iit"></td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </th>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table cellspacing="0" cellpadding="0" border="0" role="presentation" width="100%" align="center"
                    class="m_-8125111030393075803r3-o" style="table-layout:fixed;width:100%">
                    <tbody>
                        <tr>
                            <td class="m_-8125111030393075803r8-i" style="padding-bottom:20px;padding-top:20px">
                                <table width="100%" cellspacing="0" cellpadding="0" border="0" role="presentation">
                                    <tbody>
                                        <tr>
                                            <th width="100%" valign="top" class="m_-8125111030393075803r5-c"
                                                style="font-weight:normal">
                                                <table cellspacing="0" cellpadding="0" border="0" role="presentation"
                                                    width="100%" class="m_-8125111030393075803r6-o"
                                                    style="table-layout:fixed;width:100%">
                                                    <tbody>
                                                        <tr>
                                                            <td valign="top" class="m_-8125111030393075803r7-i">
                                                                <table width="100%" cellspacing="0" cellpadding="0"
                                                                    border="0" role="presentation">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td class="m_-8125111030393075803r2-c"
                                                                                align="center">
                                                                                <table cellspacing="0" cellpadding="0"
                                                                                    border="0" role="presentation"
                                                                                    width="600"
                                                                                    class="m_-8125111030393075803r3-o"
                                                                                    style="table-layout:fixed;width:600px">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td class="m_-8125111030393075803r9-i"
                                                                                                style="font-size:0px;line-height:0px;padding-bottom:15px;padding-top:15px">
                                                                                                <img src="https://ci3.googleusercontent.com/proxy/4sORAISuuNb4UPHc-5bzV2R_ojGixnOYKyQVjYm3cyJnIALzcF1_SjG5hQqG8GmAO_EZXNh0wY_85AjwmqWsq1GbZUcs_Newm4rKbqFmDVfP3FfZu_aYJfDze2nWGlnNyJAxItGWgCNNjVA=s0-d-e1-ft#https://bqxg2.img.bh.d.sendibt3.com/im/sh/YtLHzzeEHSER.png?u=7126MWSP0tEIB2XrAO7MD6QoBMc"
                                                                                                    width="600" border="0"
                                                                                                    style="display:block;width:100%"
                                                                                                    class="CToWUd a6T"
                                                                                                    data-bit="iit"
                                                                                                    tabindex="0">
                                                                                                <div class="a6S" dir="ltr"
                                                                                                    style="opacity: 0.01; left: 552px; top: 373.33px;">
                                                                                                    <div id=":16z"
                                                                                                        class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q"
                                                                                                        role="button"
                                                                                                        tabindex="0"
                                                                                                        aria-label="Download attachment "
                                                                                                        jslog="91252; u014N:cOuCgd,Kr2w4b,xr6bB; 4:WyIjbXNnLWY6MTc4MjcwNjI4ODk1Njk0MzA1MyJd"
                                                                                                        data-tooltip-class="a1V"
                                                                                                        jsaction="JIbuQc:.CLIENT"
                                                                                                        data-tooltip="Download">
                                                                                                        <div class="akn">
                                                                                                            <div
                                                                                                                class="aSK J-J5-Ji aYr">
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td class="m_-8125111030393075803r10-c"
                                                                                align="left">
                                                                                <table cellspacing="0" cellpadding="0"
                                                                                    border="0" role="presentation"
                                                                                    width="100%"
                                                                                    class="m_-8125111030393075803r11-o"
                                                                                    style="table-layout:fixed;width:100%">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td align="left" valign="top"
                                                                                                class="m_-8125111030393075803r12-i m_-8125111030393075803nl2go-default-textstyle"
                                                                                                style="color:#3b3f44;font-family:arial,helvetica,sans-serif;font-size:18px;line-height:1.5;word-break:break-word;padding-bottom:15px;padding-top:15px;text-align:left">
                                                                                                <div>
                                                                                                    <p style="margin:0">
                                                                                                        <span
                                                                                                            style="font-size:16px"><strong>Hi {{ user.full_name }},</strong></span><br><span
                                                                                                            style="font-size:16px">We’ve
                                                                                                            seen the resume
                                                                                                            you made with
                                                                                                            our builder and
                                                                                                            we’re here to
                                                                                                            show you some
                                                                                                            easy tweaks you
                                                                                                            can make in 5
                                                                                                            minutes to make
                                                                                                            it 10x
                                                                                                            better.</span>
                                                                                                    </p>
                                                                                                </div>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td class="m_-8125111030393075803r2-c"
                                                                                align="center">
                                                                                <table cellspacing="0" cellpadding="0"
                                                                                    border="0" role="presentation"
                                                                                    width="99%"
                                                                                    class="m_-8125111030393075803r3-o"
                                                                                    style="border-collapse:separate;border-radius:8px;table-layout:fixed;width:99%">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td align="center" valign="top"
                                                                                                class="m_-8125111030393075803r13-i m_-8125111030393075803nl2go-default-textstyle"
                                                                                                style="color:#3b3f44;font-family:arial,helvetica,sans-serif;font-size:18px;word-break:break-word;background-color:#0386fb;border-radius:8px;line-height:2;padding-top:15px;text-align:center">
                                                                                                <div>
                                                                                                    <h2 class="m_-8125111030393075803default-heading2"
                                                                                                        style="margin:0;color:#1f2d3d;font-family:arial,helvetica,sans-serif;font-size:32px;word-break:break-word">
                                                                                                        <span
                                                                                                            style="color:#eff2f7">Your
                                                                                                            Resume Score is
                                                                                                            {{ user.profile_percentage }}/100</span>
                                                                                                    </h2>
                                                                                                </div>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td class="m_-8125111030393075803r10-c"
                                                                                align="left">
                                                                                <table cellspacing="0" cellpadding="0"
                                                                                    border="0" role="presentation"
                                                                                    width="100%"
                                                                                    class="m_-8125111030393075803r11-o"
                                                                                    style="table-layout:fixed;width:100%">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td align="left" valign="top"
                                                                                                class="m_-8125111030393075803r12-i m_-8125111030393075803nl2go-default-textstyle"
                                                                                                style="color:#3b3f44;font-family:arial,helvetica,sans-serif;font-size:18px;line-height:1.5;word-break:break-word;padding-bottom:15px;padding-top:15px;text-align:left">
                                                                                                <div>
                                                                                                    <p style="margin:0">
                                                                                                        <span
                                                                                                            style="font-size:16px">The
                                                                                                            good news? It’s
                                                                                                            actually super
                                                                                                            easy to boost
                                                                                                            that score (and
                                                                                                            your chances of
                                                                                                            landing that
                                                                                                            dream job). Go
                                                                                                            to our resume
                                                                                                            builder, follow
                                                                                                            the step-by-step
                                                                                                            tips, get a
                                                                                                            job-winning
                                                                                                            resume in 5 to
                                                                                                            10
                                                                                                            minutes.</span>
                                                                                                    </p>
                                                                                                </div>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </th>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table cellspacing="0" cellpadding="0" border="0" role="presentation" width="100%" align="center"
                    class="m_-8125111030393075803r3-o" style="table-layout:fixed;width:100%">
                    <tbody>
                        <tr>
                            <td class="m_-8125111030393075803r4-i" style="padding-bottom:20px;padding-top:20px">
                                <table width="100%" cellspacing="0" cellpadding="0" border="0" role="presentation">
                                    <tbody>
                                        <tr>
                                            <th width="100%" valign="top" class="m_-8125111030393075803r5-c"
                                                style="font-weight:normal">
                                                <table cellspacing="0" cellpadding="0" border="0" role="presentation"
                                                    width="100%" class="m_-8125111030393075803r6-o"
                                                    style="table-layout:fixed;width:100%">
                                                    <tbody>
                                                        <tr>
                                                            <td valign="top" class="m_-8125111030393075803r7-i"
                                                                style="padding-left:15px;padding-right:15px">
                                                                <table width="100%" cellspacing="0" cellpadding="0"
                                                                    border="0" role="presentation">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td class="m_-8125111030393075803r14-c"
                                                                                align="center"
                                                                                style="padding-bottom:15px;padding-top:15px">
                                                                                <table cellspacing="0" cellpadding="0"
                                                                                    border="0" role="presentation"
                                                                                    width="285"
                                                                                    class="m_-8125111030393075803r15-o"
                                                                                    style="background-color:#0386fb;border-collapse:separate;border-color:#0386fb;border-radius:4px;border-style:solid;border-width:0px;table-layout:fixed;width:285px">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td height="18" align="center"
                                                                                                valign="top"
                                                                                                class="m_-8125111030393075803r16-i m_-8125111030393075803nl2go-default-textstyle"
                                                                                                style="word-break:break-word;background-color:#0386fb;border-radius:4px;color:#ffffff;font-family:arial,helvetica,sans-serif;font-size:16px;font-style:normal;line-height:1.15;padding-bottom:12px;padding-left:5px;padding-right:5px;padding-top:12px;text-align:center">
                                                                                                <a href="https://www.jotcv.com/"
                                                                                                    class="m_-8125111030393075803r17-r m_-8125111030393075803default-button"
                                                                                                    style="font-style:normal;font-weight:bold;line-height:1.15;text-decoration:none;word-break:break-word;word-wrap:break-word;display:block;color:#ffffff;font-family:arial,helvetica,sans-serif;font-size:16px">
                                                                                                    <span>Improve my
                                                                                                        Resume</span></a>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </th>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
             
            </td>
        </tr>
    </tbody>
</body>
</html>